{% comment %} templates/_base.html {% endcomment %}

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en" className="dark">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock %}
        </title>

        {% comment %} Favicon (for browser tabs) {% endcomment %}
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        {% comment %} Apple Touch Icon (for iOS home screen/bookmark) {% endcomment %}
        <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">

        {% comment %} Open Graph Meta Tags {% endcomment %}
        <meta property="og:title" content="{{ og_title }}">
        <meta property="og:description" content="{{ og_description }}">
        <meta property="og:image" content="{{ og_image }}">
        <meta property="og:url" content="{{ og_url }}">

        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        {% endcompress %}

        {% block header %}
        {% endblock %}

    </head>

    <body class="bg-slate-200 dark:bg-dark-hi">

        {% include 'blocks/navbar.html' %}

        {% block content_no_style %}
        {% endblock content_no_style %}

        <div class="container mx-auto mt-10">
            {% block content %}
            {% endblock content %}
        </div>

        {% include 'blocks/footer.html' %}
        <script src="{% static 'js/flowbite.min.js' %}"></script>
        <script>
            document.documentElement.classList.toggle('dark')
        </script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
